body {
   background-color: aquamarine;
}
h1 {
    background-color: rgba(55, 103, 225, 0.953);
    color:white;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
.pro {
    border: 3px solid black;
    background-color: brown;
    color: white;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    
}
ul{
    list-style: none;
}
#nom {
    color: rgb(34, 11, 246);
}
#imagem_redonda {
    width: 90px;
    border-radius: 50%;
}
#for {
    border: 3px solid black;
    background-color: brown;
    color: white;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
}
#amp {
    border: 3px solid black;
    background-color: brown;
    color: white;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
}